//variables colores
$fontGenerally: 'Saira', sans-serif;

$colorDarkWhite: #dadada;
$colorDarkGrey: #191919;
$colorLightGrey: #a6a6a6;
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorAdalabGreen: #3cdbc0;
$colorHoverButton: #5cb2bf;

// Blanco roto #dadada
// Gris oscuro #191919
// Gris claro #a6a6a6
// Negro #000000
// Blanco #FFFFFF

$colorDarkBlue: #243752;
$colorBlue: #0a6187;
$colorBlackAlt: #141414;
