.header-history {
  width: 100%;
}

.history {
  text-align: center;
  color: $colorDarkGrey;
  padding: 34px 50px 27px 50px;
  @media all and (min-width: 768px){
    padding: 127px 200px 25px 200px;
  }
}

.history-text {
  @extend .about-me-text;
}

.history-text-1 {
  @extend .about-me-text;
  margin-bottom: -67px;
  @media all and (min-width: 768px){
    margin-bottom: -100px;
  }
}

.image-me {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: block;
  margin: -49px auto;
  margin-bottom: 0;
    @media all and (min-width: 768px) {
      width: 160px;
      height: 160px;
      margin: -100px auto
    }
    @media all and (min-width: 1024px) {
      width: 193px;
      height: 193px;
    }
}

.image-adalab {
  width: 100%;
  display: flex;
}
