.button-arrow {
  bottom: 53px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $colorBlack;
  cursor: pointer;
  display: block;
  opacity: 0.80;
  transition: background ease 0.3s;
    &:hover {
      background-color: $colorHoverButton;
    }
}

.down {
  background-image: url('../images/ico-down.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: 129px;
  position: absolute;
  @media all and (min-width: 768px){
    bottom: 52px;
  }
}

.up {
  background-image: url('../images/ico-up.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 170px;
  margin: 0 20px;
}
